<p id="komunikat"><%= flash[:komunikat] %> </p>

<div class="container">
<dl class="dl-horizontal">

  <dt> <strong>Artist:</strong> </dt>
  <dd> <%= @event.artist %> </dd>

  <dt> <strong>Description:</strong> </dt>
  <dd> <%= @event.description %> </dd>

  <dt> <strong>Price Low:</strong> </dt>
  <dd> <%= @event.price_low %> </dd>

  <dt> <strong>Price High:</strong> </dt>
  <dd> <%= @event.price_high  %> </dd>

  <dt> <strong>Event date:</strong> </dt>
  <dd> <%= @event.event_date %> </dd>
</dl>

<%=render "tickets_list", tickets: @event.tickets %>

<%=render "new_ticket", ticket: Ticket.new( :event_id => @event.id) %>

<%= link_to 'Back to events', events_path, :class => "btn btn-warning" %>

</div>