<p id="komunikat"><%= flash[:komunikat] %> </p>

<p>
  <strong>Artist:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Price Low:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>Price High:</strong>
  <%= @event.price_high  %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<%=render "tickets_list", tickets: @event.tickets %>

<%=render "new_ticket", ticket: Ticket.new( :event_id => @event.id) %>

<%= link_to 'Back to events', events_path %>