<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Imię</th>
        <th>Miejsce</th>
        <th>Adres</th>
        <th>Cena</th>
        <th>Adres e-mail</th>
        <th>Nr telefonu</th>
        <th>Event</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.name %></td>
          <td><%= ticket.seat_id_seq %></td>
          <td><%= ticket.address %></td>
          <td><%= ticket.price %></td>
          <td><%= ticket.email_address %></td>
          <td><%= ticket.phone %></td>
          <td><%= ticket.event_id %></td>
          <td><%= link_to 'Show', ticket %></td>
          <% if (ticket.user == current_user) && (user_signed_in?) %>
          <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
          <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Czy jesteś pewien?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <a href="/index.html" class="btn btn-primary">Strona główna</a>
    </div>
    <div class="col-6">
      <%= link_to 'Nowy bilet', new_ticket_path, :class => "btn btn-warning" %>
    </div>
  </div>
</div>

<div>
        <button onclick="changeBackgroundColor()">Zmień kolor tła</button><br>
        <button onclick="resetBackgroundColor()">Zresetuj kolor tła</button>
</div>

<%= javascript_include_tag "my_script.js" %>
<!-- <script>
  fun();
 </script> -->

