<p id="notice"><%= notice %></p>
<div class="container">
<dl class="dl-horizontal">

  <dt><strong>Name:</strong> </dt>
  <dd><%= @ticket.name %> </dd>

  <dt><strong>Seat id seq:</strong> </dt>
  <dd><%= @ticket.seat_id_seq %> </dd>

  <dt><strong>Address:</strong> </dt>
  <dd><%= @ticket.address %> </dd>

  <dt><strong>Phone:</strong> </dt>
  <dd><%= @ticket.phone %> </dd>

  <dt><strong>Price:</strong> </dt>
  <dd><%= @ticket.price %> </dd>

  <dt><strong>Email address:</strong> </dt>
  <dd><%= @ticket.email_address %> </dd>
  
  <dt><strong>Event:</strong> </dt>
  <dd><%= @ticket.event_id %> </dd>
</dl>

<% if @ticket.user == current_user %>
<%= link_to 'Edytuj', edit_ticket_path(@ticket), :class => "btn btn-primary" %> <br>
<% end %>
<%= link_to 'Wstecz', tickets_path, :class => "btn btn-warning" %>
</div>